{% extends "base.html" %} 
{% block content %}
<div class="card-container">
    <div class="main-card mdl-card mdl-shadow--2dp login-card">
        <div class="mdl-card__title">
            Log in to Schedulr
        </div>
        <div class="mdl-card__supporting-text">
            <div class="login-button hvr-shrink" id="msft-login">
            </div>
            <div class="login-button hvr-shrink" id="google-login">
            </div>
        </div>
    </div>
    <div class="main-card mdl-card mdl-shadow--2dp login-card">
            <div class="mdl-card__supporting-text">
                By loggin into Schedulr you agree to have cookies stored in your device and for us to collect your name and email.
            </div>
        </div>
</div>
{% endblock %}