
{% extends "base.html" %} 
{% block head_extra %}
    <!-- Taucharts -->
    <script src="https://cdn.jsdelivr.net/npm/d3@4.13.0/build/d3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/taucharts@2/dist/taucharts.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/taucharts@2/dist/taucharts.min.css">
{% endblock %}

{% block sidebar_actions %}
{% endblock %}

{% block content %}
    <div id="team-content">
        <!-- Default Slider -->
        <div id="team-page-sliders">
            <div class="slider-container" id="team-slider-1">
                <span class="slider-label"><span>Starting week: </span><span class="slider-label week"></span></span>
                <input class="mdl-slider mdl-js-slider" type="range"
                    min="0" max="10" value="0" tabindex="0"> 
            </div>
            <div class="slider-container" id="team-slider-2">
                <span class="slider-label"><span>Look ahead: </span><span class="slider-label week"></span></span>
                <input class="mdl-slider mdl-js-slider" type="range"
                    min="0" max="10" value="0" tabindex="0"> 
            </div>
        </div>
        <div id="bar-chart"></div>
    </div>
{% endblock %}

{% block modal_content %}
{% endblock %}