
{% extends "base.html" %} 
{% block head_extra %}
    <!-- Taucharts -->
    <script src="https://cdn.jsdelivr.net/npm/d3@4.13.0/build/d3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/taucharts@2/dist/taucharts.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/taucharts@2/dist/taucharts.min.css">
{% endblock %}

{% block sidebar_actions %}
<div class="mdl-navigation__link sidebar-item hvr-icon-forward pointer" id="view-projects">
    View Projects
    <i class="fas fa-chevron-circle-right hvr-icon"></i>
</div>
{% endblock %}

{% block content %}
    <div id="team-content">
        <!-- Default Slider -->
        <div id="team-page-sliders">
            <div class="slider-container" id="team-slider-1">
                <span class="slider-label"><span>Starting week: </span><span class="slider-label week"></span></span>
                <input class="mdl-slider mdl-js-slider" type="range"
                    min="0" max="10" value="0" tabindex="0"> 
            </div>
            <div class="slider-container" id="team-slider-2">
                <span class="slider-label"><span>Look ahead: </span><span class="slider-label week"></span></span>
                <input class="mdl-slider mdl-js-slider" type="range"
                    min="0" max="10" value="0" tabindex="0"> 
            </div>
        </div>
        <div id="bar-chart"></div>
    </div>
{% endblock %}

{% block modal_content %}
<div id="chip-container">
    <span class="mdl-chip mdl-chip--deletable">
        <span class="mdl-chip__text">Deletable Chip</span>
        <button type="button" class="mdl-chip__action">
            <i id="CopyButton" class="material-icons">file_copy</i>
            <div class="mdl-tooltip" data-mdl-for="CopyButton">
                Copy
            </div>
        </button>
    </span>
    <div id="refresh-code" class="mdl-color-text--orange pointer"> Click here to replace with a new code. <i class="fas fa-sync-alt"></i></div>
</div>
<div id="project-list">
    <button class="mdl-button mdl-js-button mdl-button--primary" id="add-project-button">
        Add New Project
    </button>
    <div class="mdl-list">
    </div>
</div>
{% endblock %}